include LICENSE README MANIFEST.in
include glue/ligolw/*.c
include glue/ligolw/*.h
include misc/*.py
include src/php/README
include src/php/dq_report/*
include src/php/seginsert/*
include src/php/seginsert/img/*
include src/php/seginsert/scripts/*
include src/segments/*.c
include src/segments/*.h
include etc/*
include test/*
